<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GPA Calculator</title>
</head>
<div ng-include="'components/navbar/navbar.html'"></div>
<body>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">

            <form ng-submit="addGpaData()">
                <input ng-model="textField4" type="text" size="20" placeholder="Class Name">
                <input ng-model="textField5" type="text" size="10" placeholder="Class Grade">
                <input ng-model="textField6" type="text" size="10" placeholder="Class Credits">
                <input type="submit" value="submit" class="btn btn-primary">
            </form>

        </li>
        <li class="list-group-item" ng-repeat="test in data1 track by $index">Class: {{test.class}} Grade: {{test.grade}} Credits: {{test.credits}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>
    </ul>
</div>

</body>
</html>